$def with (item, enabled)

<div class="page-header">
    <h4>$item.title</h4>
</div>
<!--form class="inline-element" action="/map/update-image" method="GET">
    <input type="hidden" name="mapHash" value="$item.hash">
    <button type="submit" class="btn btn-default">Update image</button>
</form>

<!--div><img src="/static/maps/${item.hash}.png" width="50%" height="50%" /></div-->
<div id="chart_div" style="width: 900px; height: 600px;"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    $$.get(
        "/map/get-chart-data",
        {map: '$item.hash'},
        function (res) {
            var res = $$.parseJSON(res);
            if (!res.success) {
                return false;
            }
            var data = google.visualization.arrayToDataTable(res.data);

            var options = {
              title: 'Factor change',
              curveType: "function",
              chartArea: {width: 600, height: 500}
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    );
  }
</script>

<div class="page-header">
    <h6>Факторы:</h6>
</div>
<p class="lead">
    $for f in item.get_factors():
        <code>$f</code>
</p>

<form class="form-inline" action="/map/add-factor" method="POST">
    <input type="hidden" name="mapHash" value="$item.hash">
    <input type="text" class="form-control map-show-factor-name" name="factorName" placeholder="Factor name">
    <button type="submit" class="btn btn-default">Add</button>
</form>


<div class="page-header">
    <h6>Отношение факторов:</h6>
</div>
<table class="table table-bordered" id="table-relations">
    <tr>
        <th>#</th>
        <th> <div class="koef-column">Коэф.</div></th>
        $for f in item.relations:
            <td><div class="rotate-table-head">$f</div></td>
    </tr>

    $for f1 in item.relations:
        <tr>
            <td>$f1</td>
            <td>
                <select class="form-control factor-koef"
                        data-map="$item.hash"
                        data-f="$item.relations[f1][f1]['f1']">
                    $for i in xrange(-90, 100, 10):
                        $code:
                            if i == item.koef[f1]:
                                selected = 'selected'
                            else:
                                selected = ''
                            if not enabled:
                                disabled = 'disabled'
                            else:
                                disabled = ''
                        <option $selected $disabled> $i</option>
                </select>
            </td>
            $for f2 in item.relations[f1]:
                <td>
                    <select class="form-control relation-effect"
                            data-map="$item.hash"
                            data-f1="$item.relations[f1][f2]['f1']"
                            data-f2="$item.relations[f1][f2]['f2']">
                        $for i in xrange(-9, 10):
                            $code:
                                if i == item.relations[f1][f2]['eff']:
                                    selected = 'selected'
                                else:
                                    selected = ''
                                if f1 == f2 or not enabled:
                                    disabled = 'disabled'
                                else:
                                    disabled = ''

                            <option $selected $disabled> $i</option>
                    </select>
                </td>
        </tr>


</table>